<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div>
    <div class="row lan-pg">
      <div class="col-md-6 col-sm-6 text-center">
        <h1 id="main-text" class="display-4 mb-4 landing"> <%= t("landing.welcome").html_safe %></h1>
        <p {text-align: left;}class="lead offset-lg-2 col-lg-8 col-sm-12"><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
           <p {text-align: left;}class="lead offset-lg-2 col-lg-8 col-sm-12"><%= t("landing.about2", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        
      </div>
      <div class="col-md-6 col-sm-6 text-center">
        <%= image_tag("iran1.jpg", class: "landing-image") %>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
